/*** CSS content for TAHelper ***/

.flexContainer {
width:100%;
  min-height: calc(100% - 30px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flexChildren {
  width:10%;
  display: flex;
  flex-direction: column;
  flex-basis: calc(12% - 0px);
  justify-content: center;
}

.flexText {
  display: flex;
  text-align: center;
  justify-content: center;
}

.flexChildrenText {
  flex-direction: row;
}
